{% block style %}
<link
    href="{{ url_for('static', path='/css/components/header.css') }}"
    rel="stylesheet"
/>
{% endblock %} {% block header %}
<header>
    <div class="cy-container header">
        <div class="header-left">
            <div class="header-left-logo">
                <a href="/">
                    <img
                        src="{{ url_for('static', path='/svg/logo.svg') }}"
                        alt="上传文章"
                    />
                </a>
            </div>
            <nav class="header-left-nav">
                <!--                <a href="">所有文章</a>-->
                <!--                <a href="">关于我</a>-->
            </nav>
        </div>
        <div class="header-right">
            {% if request.user.is_authenticated %}
            <form
                action="{{ url_for('upload_post') }}"
                method="post"
                enctype="multipart/form-data"
                class="header-right-upload header-right__item"
            >
                <label v-show="!is_uploaded" title="上传文章">
                    <input
                        type="file"
                        accept=".md"
                        name="post_file"
                        v-model="is_uploaded"
                        v-cloak
                    />
                    <img
                        src="{{ url_for('static', path='/svg/quill.svg') }}"
                        alt="上传文章"
                    />
                </label>
                <button
                    type="submit"
                    v-show="is_uploaded"
                    title="提交文章"
                    v-cloak
                >
                    <img
                        src="{{ url_for('static', path='/svg/refresh.svg') }}"
                        alt="提交文章"
                    />
                </button>
            </form>
            <a
                href="{{ url_for('logout') }}"
                title="注销登录"
                class="header-right__item"
            >
                <img
                    src="{{ url_for('static', path='/svg/logout.svg') }}"
                    alt="注销"
                />
            </a>
            {% else %}
            <a
                class="header-right-login"
                href="https://github.com/login/oauth/authorize?client_id={{ GITHUB_CLIENT_ID }}"
                >作者登录</a
            >
            {% endif %}
        </div>
    </div>
</header>
{% endblock %} {% block script %} {% endblock %}
