.archive__item {
    border-bottom: 1px solid rgba(230, 230, 230, 1);
    margin-bottom: 32px;
}

.archive__item-title {
    color: rgba(41, 41, 41, 1);
    margin-bottom: 0.7em;
}

.archive__item-desc {
    max-height: 72px;
}

.archive__item-meta {
    padding: 5px 0px 12px;
    color: rgba(117, 117, 117, 1);
}
