.index {
    display: flex;
}

.post {
    flex: 1 1 0;
    margin-top: 22px;
}

.post__item {
    margin-bottom: 2rem;
}

.post__item-title {
    margin: 0.7rem 0;
}

.post__item-meta {
    color: rgba(117, 117, 117, 1);
}

.split {
    min-height: calc(100vh - 114px);
    margin-right: 56px;
    border-right: 1px solid rgba(230, 230, 230, 1);
    padding-right: 56px;
}

.aside {
    width: 336px;
}
