.post {
    position: relative;
    color: #333333;
}

.post-meta {
    display: flex;
    justify-content: space-between;
    margin-top: 2em;
    margin-bottom: 2em;
}

.post-source {
    display: none;
    line-height: 1.8;
    font-size: 18px;
}

.markdown-body .codehilite {
    margin: 1em 0;
}

.markdown-body p a:hover,
.markdown-body li a:hover {
    font-weight: normal;
}

.markdown-body strong a:hover {
    font-weight: 700;
}

.post h1 {
    margin-bottom: 1.25em;
}

.markdown-body h2 {
    font-size: 1.5625em;
}

.markdown-body h3 {
    font-size: 1.25em;
}

.markdown-body h1,
.markdown-body h2,
.markdown-body h3,
.markdown-body h4,
.markdown-body .h2 {
    margin: 1.6em 0 0.16em;
}

.markdown-body h2,
.markdown-body h3 {
    position: relative;
}

.markdown-body h2:hover .headerlink,
.markdown-body h3:hover .headerlink {
    visibility: visible;
}

.markdown-body p {
    line-height: 1.8;
    margin: 1.5em 0;
}

.markdown-body ol,
.markdown-body ul {
    padding: 0;
}

.markdown-body ul {
    margin: 1.5em 0;
}

.markdown-body li {
    margin-top: 1em;
    margin-left: 30px;
    line-height: 1.8;
}

.markdown-body .toc ul {
    margin-top: 0;
}

.markdown-body .toc li {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.markdown-body figcaption {
    text-align: center;
    color: #666666;
}

.markdown-body blockquote {
    padding-left: 20px;
    margin-left: 0;
    padding-bottom: 2px;
    border-left: 4px solid #006bb3;
    font-style: italic;
}

.markdown-body blockquote p {
    margin: 0;
}

.markdown-body .headerlink {
    visibility: hidden;
    position: absolute;
    padding-right: 0.3em;
    left: -1.3em;
    top: 0;
    text-decoration: none;
}

.markdown-body .headerlink:hover {
    text-decoration: none;
}

.markdown-body .headerlink:after {
    content: "\00a0#";
    color: #333333;
}

.utterances {
    width: calc(100% + 49px);
    margin-top: 3em;
    margin-left: -49px;
}

.topic {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    margin-top: 3em;
    border-top: 1px solid #e6e6e6;
    padding-top: 2em;
    line-height: 36px;
}

.topic p {
    margin: 0 16px 0 0;
}

.pagination {
    margin-top: 3em;
    display: flex;
    justify-content: space-between;
}

.pagination__item a {
    color: #006bb3;
}

.pagination__item a:hover {
    text-decoration: underline;
}
