.post {
    margin-top: 62px;
}

.post-title {
    margin-bottom: 1.5rem;
}

.post-title h1 {
    /*font-size: 2em;*/
    font-weight: 700;
    margin-bottom: 16px;
}

.post-meta {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
    color: rgba(117, 117, 117, 1);
}

.markdown-body li a {
    color: #1d4ed8;
    text-decoration-color: #1d4ed8;
}

.markdown-body li a:hover {
    color: #3b82f6;
    text-decoration-color: #3b82f6;
    font-weight: normal;
}

.markdown-body p {
    line-height: 1.8;
    color: rgba(41, 41, 41, 1);
}

.markdown-body ol,
.markdown-body ul {
    padding: 0;
}

.markdown-body li {
    margin-top: 1em;
    margin-left: 30px;
    line-height: 1.8;
}

.markdown-body h2,
.markdown-body .h2 {
    margin-top: 1.32em;
}

.markdown-body .h2 {
    margin: 0;
    /*margin-top: 0.7em;*/
}

.markdown-body .toc li {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.markdown-body figcaption {
    text-align: center;
    color: rgba(117, 117, 117, 1);
}

.markdown-body h2 a,
.markdown-body h3 a {
    text-decoration: none;
}

.utterances {
    margin-top: 4em;
    width: 100%;
    max-width: 992px;
}
