{% extends "./layout.html" %} {% block title %}首页{% endblock %} {% block style
%}
<link
    href="{{ url_for('static', path='/css/pages/index.css') }}"
    rel="stylesheet"
/>
{% endblock %} {% block body %}
<div class="cy-container index">
    <div class="post">
        {% for post in posts %}
        <section class="post__item">
            <a href="{{ url_for('get_post', slug=post.slug) }}">
                <h3 class="post__item-title">{{ post.title }}</h3>
                <!--                <h3 class="post__item-desc"></h3>-->
            </a>
            <div class="post__item-meta">
                <span>{{ post.timestamp.strftime('%Y-%m-%d') }}</span>
                <span> &#8226; </span>
                <span>{{ post.read_time }}</span>
            </div>
        </section>
        {% endfor %}
    </div>
    <div class="split"></div>
    <aside class="aside"></aside>
</div>
{% endblock %}
