{% extends "./layout.html" %} {% block title %}首页{% endblock %} {% block style
%}
<link
    href="{{ url_for('static', path='/css/pages/index.css') }}"
    rel="stylesheet"
/>
{% endblock %} {% block body %}
<div class="cy-container index">
    <div class="post">
        {% for post in posts %}
        <section class="post-item">
            <a href="{{ url_for('get_post', slug=post.slug) }}">
                <h2 class="post-item-title">{{ post.title }}</h2>
                <h3 class="post-item-desc"></h3>
            </a>
            <div class="date">{{ post.timestamp }}</div>
        </section>
        {% endfor %}
    </div>
    <div class="split"></div>
    <aside class="aside"></aside>
</div>
{% endblock %}
