{% extends "./layout.html" %} {% block title %} {{ post.title }} |
{{post.timestamp.strftime('%Y年%m月%d日') }} {% endblock %} {% block desc %}
<meta name="description" content="{{ post.description }}" />
{% endblock %} {% block style %}
<link
  href="{{ url_for('static', path='/css/markdown.css') }}"
  rel="stylesheet"
/>
<link
  href="{{ url_for('static', path='/css/pages/post.css') }}"
  rel="stylesheet"
/>
<link href="{{ url_for('static', path='/css/autumn.css') }}" rel="stylesheet" />
{% endblock %} {% block body %}
<div class="post" id="post">
  <div class="post-title">
    <h1>{{ post.title }}</h1>
  </div>
  <div class="post-meta">
    <span class="post-date">{{ post.timestamp.strftime('%Y年%m月%d日') }}</span>
    <span>
      <span> {{ post.read_time }} </span>
    </span>
  </div>
  {% if post.source %}
  <section class="post-source">{{ post.source | safe }}</section>
  {% endif %}
  <artice class="markdown-body"> {{ post.body | safe }}</artice>

  {% if linked_post %}
  <section class="pagination">
    <div class="pagination__item">
      {% if linked_post.prev %}
      <a href="{{ url_for('post-get', slug=linked_post.prev.slug) }}">< Previous</a>
      {% endif %}
    </div>
    <div class="pagination__item">
      {% if linked_post.next %}
      <a href="{{ url_for('post-get', slug=linked_post.next.slug) }}">Next ></a>
      {% endif %}
    </div>
  </section>
  {% endif %}

  <section class="topic">
    {% for topic in post.topics %}
    <div class="topic__item">
      <a
        class="topic__item-link"
        href="{{ url_for('index') }}?topic={{topic.name}}"
      >
        {{ topic.name }}
      </a>
    </div>
    {% endfor %}
  </section>
  <script
      src="https://utteranc.es/client.js"
      repo="Chaoyingz/chaoying.dev"
      issue-term="title"
      theme="github-light"
      crossorigin="anonymous"
      async
  ></script>
</div>
{% endblock %}
<div>
  {% block aside %}
  {% if post.source %}
  <section class="source">
    <h2>Source</h2>
    <p>{{ post.source | safe }}</p>
  </section>
  {% endif %}
  <section class="toc-container">
    <h2>Table of Contents</h2>
    {{ post.toc | safe }}
  </section>
  {% endblock %}
</div>
{% block script %}
<script src="{{ url_for('static', path='/js/post.js') }}"></script>
{% endblock %}
