{% extends "./layout.html" %} {% block title %}{{ post.title }} | {{
post.timestamp.strftime('%Y年%m月%d日') }}{% endblock %} {% block style %}
<link
    href="{{ url_for('static', path='/css/markdown.css') }}"
    rel="stylesheet"
/>
<link
    href="{{ url_for('static', path='/css/pages/post.css') }}"
    rel="stylesheet"
/>
<link href="{{ url_for('static', path='/css/autumn.css') }}" rel="stylesheet" />
{% endblock %} {% block body %}
<div class="cy-container post">
    <div class="post-title">
        <h1>{{ post.title }}</h1>
        <span class="post-date"
            >{{ post.timestamp.strftime('%Y年%m月%d日') }}</span
        >
    </div>
    <main class="markdown-body">
        <artice> {{ post.body|safe }} </artice>
    </main>
</div>
{% endblock %}
