html {
    font-family: Tahoma, Arial, "PingFang SC", "Hiragino Sans GB",
        "Microsoft YaHei", sans-serif;
    color: rgba(8, 8, 8, 1);
}

a {
    text-decoration: none;
    color: rgba(8, 8, 8, 1);
}

a:hover {
    color: rgba(41, 41, 41, 1);
}

button {
    background: none;
    border: none;
    padding: 0;
}

.cy-container {
    max-width: 992px;
    width: 100%;
    margin: auto;
}

.cy-container-sm {
    max-width: 768px;
    width: 100%;
    margin: auto;
}

[v-cloak] {
    display: none;
}

h1,
.h1 {
    font-size: 2.25rem;
    line-height: 2.5rem;
}

h2,
.h2 {
    font-size: 1.875rem;
    line-height: 2.25rem;
    font-weight: 700;
}

h3,
.h3 {
    font-size: 1.5rem;
    line-height: 2rem;
}

h4,
.h4 {
    font-size: 1.25rem;
    line-height: 1.75rem;
}
