html {
    font-family: Tahoma, Arial, "PingFang SC", "Hiragino Sans GB",
        "Microsoft YaHei", sans-serif;
    overflow-y: auto;
    overflow-x: hidden;
}

body {
    margin-right: calc(100% - 100vw);
}

pre {
    white-space: pre-wrap;
}

h1,
.h1 {
    font-size: 2.25rem;
    line-height: 2.5rem;
}

h2,
.h2 {
    font-size: 1.875rem;
    line-height: 2.25rem;
    font-weight: 700;
}

h3,
.h3 {
    font-size: 1.5rem;
    line-height: 2rem;
}

h4,
.h4 {
    font-size: 1.25rem;
    line-height: 1.75rem;
}

a {
    text-decoration: none;
    color: #333333;
}

button {
    cursor: pointer;
}

#app {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1504px;
}

.content-wrapper {
    flex: 1 1 auto;
    border-left: 1px solid #e6e6e6;
    border-right: 1px solid #e6e6e6;
    box-sizing: border-box;
    padding-top: 40px;
}

main {
    margin: 0 auto;
    max-width: 692px;
}
