<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta
            name="viewport"
            content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
        />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>{% block title %}{% endblock %} | Chaoying.dev</title>
        <link
            href="{{ url_for('static', path='/css/normalize.css') }}"
            rel="stylesheet"
        />
        <link
            href="{{ url_for('static', path='/css/layout.css') }}"
            rel="stylesheet"
        />
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script
            async
            src="https://www.googletagmanager.com/gtag/js?id=G-1BNH9KXK4F"
        ></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag() {
                dataLayer.push(arguments);
            }
            gtag("js", new Date());

            gtag("config", "G-1BNH9KXK4F");
        </script>
        {% block style %}{% endblock %}
    </head>
    <body>
        <div id="app">
            {% block header %} {% include "./components/header.html" %} {%
            endblock %}
            <main>{% block body %}{% endblock %}</main>
        </div>
        <script src="https://unpkg.com/vue@3.2.20/dist/vue.global.prod.js"></script>
        <script src="https://unpkg.com/vue-utterances@0.1.2/dist/vue-utterances.min.js"></script>
        <script src="{{ url_for('static', path='/js/layout.js') }}"></script>
    </body>
</html>
