header {
  height: 74px;
  width: 100%;
  border-bottom: 1px solid #ebebeb;
  padding: 20px 0;
  line-height: 34px;
  box-sizing: border-box;
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.05);
  font-size: 14px;
  color: rgba(41, 41, 41, 1);
}

.header {
  display: flex;
  justify-content: space-between;
}

.header-left {
  display: flex;
}

.header-left-logo {
  font-family: "Kaushan Script", cursive;
  font-size: 24px;
  margin-right: 25px;
}

.header-left-nav {
}

.header-left-nav a {
  margin-right: 20px;
  font-weight: 400;
}

.header-right {
  display: flex;
}

.header-right-upload {
  position: relative;
  height: 34px;
  width: 34px;
  margin-right: 16px;
  cursor: pointer;
}

.header-right-upload label {
  position: absolute;
  top: 0;
  left: 0;
  height: 34px;
  width: 34px;
  cursor: pointer;
}

.header-right-upload input[type="file"] {
  display: none;
}

.header-right-upload img {
  visibility: visible;
  position: absolute;
  top: 6px;
  left: 5px;
  height: 24px;
  width: 24px;
}

.header-right-upload button {
  cursor: pointer;
}

.header-right-login {
  display: block;
  margin-left: 16px;
  height: 32px;
  line-height: 32px;
  padding: 0 20px;
  background-color: rgba(8, 8, 8, 1);
  border-radius: 99em;
  border: 1px solid rgba(41, 41, 41, 1);
  color: #fff;
  text-align: center;
  transition: 0.35s;
}

.header-right-login:hover {
  background-color: #fff;
  color: rgba(8, 8, 8, 1);
}
